<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="/css/layout.css" media="all" rel="stylesheet">

  <script src="/javascripts/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/app.js"></script>

  <title>Richa Arora</title>
</head>


  <div class="header">
  <div class="container">
  <div class="brand">
  Richa Arora
  </div>


  <div class="nav">
  <ul class="horizontal-list">
  <li><a href="/about-me">About</a></li>
  <li>Blog</li>
  <li>Contact</li>
  <li class="dropdown-anchor"><a href="">Cats</a>
  <ul class="dropdown">
    <li><a href="a">Urchin</a></li>
    <li><a href="a">Sibe</a></li>
    <li><a href="a">Tabby</a></li>
    <li><a href="a">Max</a></li>
  </ul></li>
  </ul>
  </div>
  </div>
  </div>
  <div class="container">
  <body>


<!-- <h1 id='title'>Blog</h1>
<hr>
<a href="/">Home</a>
<a href="/about-me">About Me</a>
<p>Hello this is <b>Bold</b> and this is <span style ="display: inline-block; width: 300px">in line block.</span>.</p>
<span class='note'>This is a small note</span>

<%= yield %>

<hr>
<div class='box-test'>Some text</div> -->

  <script src="/javascripts/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/app.js"></script>
  
</body>
</div>
<footer>This is my footer</footer>
</html>


<!-- https://github.com/bookis/sinatra-demo -->
